
.carousel-prev,.carousel-next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}